.col-4.col: center
	h2#searchTitle Search Movies
	button(onclick='switchSearchMode()').search-switch Switch to TV search
	button(onclick='switchSearchMode()' hidden).search-switch Switch to Movie search
	br
	br
	form(onsubmit='search(0); return false').search-switch#moviesForm
		span Title:
		input(type='text')#moviesTitle
		br
		br
		span Year:
		input(type='number')#moviesYear
		br
		br
		input(type='submit', value='Search')
		span &nbsp;
		input(type='checkbox' name='movieCheck')#moviesDesperate
		em &nbsp;Desperate mode
	form(onsubmit='search(1); return false' hidden).search-switch#tvForm
		span Title:
		input(type='text')#tvTitle
		br
		br
		span Season:
		input(type='number')#tvSeason
		br
		br
		span Episode:
		input(type='number')#tvEpisode
		br
		br
		input(type='submit', value='Search')
		span &nbsp;
		input(type='checkbox' name='tvCheck')#tvDesperate
		em &nbsp;Desperate mode
	hr
	#help
		h3 Tips
		h4 Audio
		ul
			li Atmos   &nbsp;&nbsp;=&nbsp;&nbsp;best
			li 7.1     &nbsp;&nbsp;=&nbsp;&nbsp;awesome
			li 5.1     &nbsp;&nbsp;=&nbsp;&nbsp;great
			li AAC     &nbsp;&nbsp;=&nbsp;&nbsp;good
			li Stereo  &nbsp;&nbsp;=&nbsp;&nbsp;ok
		h4 Video
		ul
			li 2160p  &nbsp;&nbsp;=&nbsp;&nbsp;best
			li 1080p  &nbsp;&nbsp;=&nbsp;&nbsp;great
			li 720p   &nbsp;&nbsp;=&nbsp;&nbsp;ok
		h4 Seeders
		span The more seeders, the better. Try to go for <b>at least 5 or 10 seeders</b>.
		h4 Flags
		ul
			li BD: BluRay rip
			li R : Remuxed BluRay rip
			li H : HEVC encoding
			li 10: 10-bit video
			li A : Dolby Atmos audio
			li 3D: 3D video file
.col-8.col: center
	br
	br
	#results(hidden)
		table#results-table: tr
			th Title
			th Video
			th Audio
			th Size
			th Seeders
			th Score
			th Flags
			th &nbsp;