meta(charset='utf8')
title Ravisher Torrent Tool
meta(name='viewport' content='width=device-width, initial-scale=1.0,viewport-fit=cover')

//link(rel='stylesheet' href='/css')
//link(rel='manifest' href='/manifest.json')
meta(name='theme-color', content='#607D8B')

-
	var scripts = {
		"jQuery": {
			"src": "https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js",
			"crossorigin": "anonymous",
			"integrity": "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		},
		"moment": {
			"src": "https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.js",
			"crossorigin": "anonymous",
			"integrity": "sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs="
		}
	};

script&attributes(scripts.jQuery)
script&attributes(scripts.moment)